<template>

  <div class="l-login">

    <base-form header="Стирка">

      <base-input
        type="text"
        v-model="login"
        @keydown.enter="loginHandler"
        placeholder="Логин"/>

      <base-input
        type="password"
        v-model="password"
        @keydown.enter="loginHandler"
        placeholder="Пароль"/>

      <base-button
        :disabled="!validForm"
        @click="loginHandler">
        Вход
      </base-button>

    </base-form>

  </div>

</template>


<script>
import BaseForm from '../base/BaseForm';
import BaseInput from '../base/BaseInput';
import BaseButton from '../base/BaseButton';

export default {
  name: 'UserLoginView',

  components: {
    BaseForm,
    BaseInput,
    BaseButton,
  },

  data() {
    return {
      login: '',
      password: '',
    };
  },

  computed: {
    validForm() {
      return (this.login !== '' && this.password !== '');
    },
  },

  methods: {
    loginHandler() {
      if (!this.validForm) {
        return;
      }

      this.$emit('login', {
        login: this.login,
        password: this.password,
      });
    },
  },
};
</script>


<style lang="scss">
@import '../../colors.scss';

.l-login{
  min-width: 320px;
  max-width: 450px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 24px;
}
</style>
