<template>

  <div class="reservation">

    <!-- Header -->
    <div class="reservation__header">
      {{user.points}} бонусов
      <base-button style="width: auto" @click="$emit('logout')">
        Выйти
      </base-button>
    </div>

    <!--- Reservation table -->
    <div v-for="(date, dateKey) in reservation" :key="dateKey" class="reservation__date">

      <base-label> {{dateKey}} </base-label>

      <div v-for="(time, timeKey) in date" :key="timeKey" class="reservation__time">
        <div class="reservation__time-key">
        {{timeKey}}
        </div>
        <base-washer
          v-for="(record, washer) in time"
          :key="washer"
          :reserved="Boolean(record)"
          :timeout="dateKey <= currentDateKey && timeKey <= currentTimeKey"
          @click="reservationHandler(dateKey, timeKey, washer)" />
      </div>
    </div>

    <!-- Reservation confirm -->
    <base-confirm
      text="Подтвердить бронирование?"
      :visible.sync="reservationConfirm"
      @answer="answerHandler" />

    <!-- Modal for showing errors -->
    <base-error-message
      :text="errorMessageText"
      :visible.sync="errorMessageModal"/>

    <!-- Modal for showing information about reserved washer -->
    <base-reservation-info v-if="reservationObject"
      :visible.sync="reservationInfoModal"
      :reservation="reservationObject"
    />

  </div>

</template>


<script>
import moment from 'moment';

import BaseButton from '../base/BaseButton';
import BaseLabel from '../base/BaseLabel';
import BaseConfirm from '../base/BaseConfirm';
import BaseWasher from '../base/BaseWasher';
import BaseErrorMessage from '../base/BaseErrorMessage';
import BaseReservationInfo from '../base/BaseReservationInfo';

const DATE_KEY_FORMAT = 'YYYY-MM-DD';
const TIME_KEY_FORMAT = 'HH:mm';

const UPDATE_INTERVAL = 60000;
let updateTimerID = null;


export default {
  name: 'ReservationView',

  components: {
    BaseButton,
    BaseLabel,
    BaseConfirm,
    BaseWasher,
    BaseErrorMessage,
    BaseReservationInfo,
  },

  props: {
    user: {
      type: Object,
      required: true,
    },
    reservation: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      selectedWasher: {
        date: '',
        time: '',
        washer: '',
      },

      currentDateKey: '',
      currentTimeKey: '',

      reservationConfirm: false,

      errorMessageModal: false,
      errorMessageText: '',

      reservationInfoModal: false,
      reservationObject: null,
    };
  },

  created() {
    this.updateCurrentKeys();
    updateTimerID = setInterval(this.updateCurrentKeys, UPDATE_INTERVAL);
  },

  beforeDestroy() {
    clearInterval(updateTimerID);
  },

  methods: {
    showErrorMessage(message) {
      this.errorMessageText = message;
      this.errorMessageModal = true;
    },

    showReservationInfo(dateKey, timeKey, washerName) {
      this.reservationObject = this.reservation[dateKey][timeKey][washerName];
      this.reservationInfoModal = true;
    },

    updateCurrentKeys() {
      const now = moment();

      this.currentDateKey = now.format(DATE_KEY_FORMAT);
      this.currentTimeKey = now.format(TIME_KEY_FORMAT);
    },

    reservationHandler(date, time, washer) {
      if (this.reservation[date][time][washer]) {
        this.showReservationInfo(date, time, washer);
        return;
      }

      if (date <= this.currentDateKey && time <= this.currentTimeKey) {
        this.showErrorMessage('Время вышло');
        return;
      }

      if (!this.user.points) {
        this.showErrorMessage('Не достаточно бонусов');
        return;
      }


      this.selectedWasher = { date, time, washer };

      this.reservationConfirm = true;
    },

    answerHandler(result) {
      this.reservationConfirm = false;

      if (!result) {
        return;
      }

      this.$emit('reserve', { ...this.selectedWasher });
    },
  },
};
</script>


<style lang="scss">
@import '../../colors.scss';
.reservation {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    min-height: 48px;
    width: 100%;

    padding: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: $flat-gray-1;
    color: $flat-blue-4;

    font-size: 16px;
    font-weight: 500;

    & > .button {
      padding: 4px 8px;
    }
  }

  &__date {
    margin: 8px 8px 0 8px;
    color: $flat-blue-4;

    width: 100%;

    max-width: 500px;

    & > * {
      margin-bottom: 16px;
    }
  }

  &__time {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 8px;
  }

  &__time-key {
    font-weight: 400;
  }
}
</style>
