<template>
  <tabs class="dashboard">
    <tab title="Бонусы" active><DashboardPoints /></tab>
    <tab title="Журнал"><DashboardLog /></tab>
    <tab title="Импорт из CSV файла"><DashboardImport /></tab>
  </tabs>
</template>


<script>
import { Tabs, Tab } from 'vue-simple-tabs';
import DashboardLog from './dashboard/DashboardLog';
import DashboardPoints from './dashboard/DashboardPoints';
import DashboardImport from './dashboard/DashboardImport';

export default {
  name: 'AdminDashboardView',

  components: {
    Tabs,
    Tab,
    DashboardLog,
    DashboardPoints,
    DashboardImport,
  },
};
</script>


<style lang="scss">
@import "../../colors.scss";
.dashboard {
  margin: 16px;
  width: 100%;

  & > ul {
    display: flex;

    & > li {
      padding: 8px 16px;

      list-style: none;

      font-size: 20px;

      cursor: pointer;

      user-select: none;

      &.active {
        background: $flat-blue-1;
        color: white;
      }
    }
  }


  & .tab-content {
    padding: 16px;
    background: $flat-gray-1;

    border-top: 2px solid $flat-blue-1;
  }
}
</style>
