<template>

  <div class="l-admin-login">

    <base-form header="Админ панель">
      <base-input
        v-model="token"
        @keydown.enter="loginHandler"
        type="password"
        placeholder="Токен"/>
    </base-form>

  </div>

</template>


<script>
import BaseForm from '../base/BaseForm';
import BaseInput from '../base/BaseInput';

export default {
  name: 'AdminLoginView',

  components: {
    BaseInput,
    BaseForm,
  },

  data() {
    return {
      token: '',
    };
  },

  methods: {
    loginHandler() {
      this.$emit('login', this.token);
    },
  },
};
</script>


<style lang="scss">
.l-admin-login {
  min-width: 320px;
  max-width: 450px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 24px;
}
</style>
