<template>

  <input
    :type="type"
    :placeholder="placeholder"
    :value="value"
    @input="$emit('input', $event.target.value)"
    @keydown="$emit('keydown', $event)"
    class="input">

</template>


<script>
export default {
  name: 'base-input',

  props: {
    value: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      required: false,
    },
  },
};
</script>


<style lang="scss">
@import '../../colors.scss';

.input {
  width: 100%;

  color: $flat-blue-1;

  margin-bottom: 16px;
  padding: 4px;

  font-size: 16px;

  border: none;
  border-bottom: 1px solid $flat-gray-4;

  &:focus {
    outline: none;

    border-color: $flat-blue-1;

    &::placeholder {
      color: $flat-blue-1;
    }
  }

  &::placeholder {
    color: $flat-gray-4;
  }
}
</style>
