<template>

  <div class="label">

    <slot />

  </div>

</template>


<script>
export default {
  name: 'base-label',
};
</script>


<style lang="scss">
@import '../../colors.scss';
.label {
  color: white;
  background: $flat-orange-1;

  padding: 4px 0 4px 8px;

  font-weight: 400;

  width: 100%;
}
</style>
