<template>
  <base-modal :visible="visible" @update:visible="$emit('update:visible', false)">
    <div v-if="reservation !== null" class="reservation-info">
      <div class="reservation-info__title">Зарезервировано</div>
      <div class="reservation-info__wrap">
        <div class="reservation-info__date">Дата: {{ date }} </div>
        <div class="reservation-info__washer">Машинка: {{ reservation.washer }}</div>
        <div class="reservation-info__name">Имя: {{ reservation.name }}</div>
        <div class="reservation-info__room">Комната: {{ reservation.room }}</div>
      </div>
    </div>
  </base-modal>
</template>


<script>
import BaseModal from './BaseModal';

export default {
  name: 'base-reservation-info',

  components: {
    BaseModal,
  },

  props: {
    reservation: {
      type: Object,
      required: true,
    },
    visible: {
      type: Boolean,
      require: true,
    },
  },

  computed: {
    date() {
      return new Date(this.reservation.date).toLocaleString();
    },
  },
};
</script>


<style lang="scss">
@import '../../colors.scss';

.reservation-info {
  min-width: 300px;

  background: white;

  &__title {
    padding: 8px;

    background: $flat-purple-2;
    color: white;

    font-weight: 400;

    text-align: center;
  }

  &__wrap {
    padding: 8px;
    /*padding-left: 8px;*/

    & > * {
      border-left: 2px solid $flat-purple-1;
      padding-left: 8px;
    }
  }
}
</style>
