<template>
  <button @click.prevent.stop="clickHandler"
    :class="{'button--disabled': disabled}"
    class="button">
    <slot />
  </button>
</template>


<script>
export default {
  name: 'base-button',

  props: {
    disabled: {
      type: Boolean,
    },
  },

  methods: {
    clickHandler() {
      this.$emit('click');
    },
  },
};
</script>


<style lang="scss">
@import '../../colors.scss';

.button {
  width: 100%;

  padding: 8px;

  color: white;
  background: $flat-blue-1;
  border: 2px solid $flat-blue-1;

  font-size: 14px;

  &:focus {
    outline: none;

    border: 2px solid $flat-blue-2;
    background: $flat-blue-2;
  }

  &--disabled {
    background: $flat-gray-2;
    color: white;
    border-color: $flat-gray-2;

    &:focus {
      background: $flat-gray-2;
      border-color: $flat-gray-2;
    }
  }
}
</style>
