<template>
  <img
    :src="color"
    alt="washer-icon"
    class="washer"
    @click="$emit('click', $event)"/>
</template>

<script>
import BlueWasher from '../../assets/washer--blue.png';
import RedWasher from '../../assets/washer--red.png';
import YellowWasher from '../../assets/washer--yellow.png';
import PurpleWasher from '../../assets/washer--purple.png';
import GrayWasher from '../../assets/washer--gray.png';

export default {
  name: 'base-washer',

  props: {
    broken: {
      type: Boolean,
      default: false,
    },
    reserved: {
      type: Boolean,
      default: false,
    },
    timeout: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      colors: {
        blue: BlueWasher,
        red: RedWasher,
        yellow: YellowWasher,
        purple: PurpleWasher,
        gray: GrayWasher,
      },
    };
  },

  computed: {
    color() {
      const { blue, gray, red, purple } = this.colors;
      let color = blue;

      if (this.timeout) {
        color = gray;
      }

      if (this.reserved) {
        color = purple;
      }

      if (this.broken) {
        color = red;
      }

      return color;
    },
  },
};
</script>

<style lang="scss">
.washer {
  width: 36px;
  height: 36px;
}
</style>
