<template>

  <base-modal :visible="visible" @update:visible="$emit('update:visible', false)">
    <div class="confirm">

      <div class="confirm__header" v-if="text">{{ text }}</div>

      <button
        class="confirm__button confirm__button--yes"
        autofocus
        @click="$emit('answer', true)">
        Подтвердить
      </button>

      <button class="confirm__button confirm__button--no"
              @click="$emit('answer', false)">
        Отмена
      </button>

    </div>
  </base-modal>

</template>


<script>
import BaseModal from './BaseModal';

export default {
  name: 'base-confirm',

  props: {
    text: {
      type: String,
      required: true,
    },
    visible: {
      type: Boolean,
      required: true,
    },
  },

  components: {
    BaseModal,
  },
};
</script>


<style lang="scss">
@import '../../colors.scss';

.confirm {
  width: 300px;

  display: flex;
  flex-wrap: wrap;

  border: 8px;

  &__header {
    background: white;
    color: $flat-blue-4;
    width: 100%;

    padding: 8px;

    font-size: 16px;
    font-weight: 400;

    text-align: center;
  }

  &__button {
    width: 50%;

    padding: 8px;

    border: none;

    color: white;

    font-size: 14px;

    &:focus {
      outline: none;
    }

    &--yes {
      background: $flat-blue-2;

      &:focus {
        background: $flat-blue-1;
      }
    }

    &--no {
      background: $flat-red-2;

      &:focus {
        background: $flat-red-1;
      }
    }
  }
}
</style>
