<template>

  <div class="form">

    <div v-if="header" class="form form__header">
      {{ header }}
    </div>

    <div class="form form__slots-wrapper">
      <slot />
    </div>

  </div>

</template>


<script>
export default {
  name: 'base-form',

  props: {
    header: {
      type: String,
      required: false,
    },
  },
};
</script>


<style lang="scss">
@import '../../colors.scss';

.form {
  color: white;

  width: 100%;

  &__header {
    background: $flat-orange-2;
    padding: 8px 16px;

    text-align: center;

    font-size: 20px;
  }

  &__slots-wrapper {
    background: white;
    color: $flat-blue-1;
    padding: 16px 8px;
  }
}
</style>
