<template>

  <base-modal :visible="visible" @update:visible="$emit('update:visible', false)">
    <div class="error-message">
      <div class="error-message__title">Ошибка</div>
      <div class="error-message__text">{{ text }}</div>
    </div>
  </base-modal>

</template>


<script>
import BaseModal from './BaseModal';

export default {
  name: 'base-error-message',

  props: {
    text: {
      type: String,
      required: true,
    },
    visible: {
      type: Boolean,
      required: true,
    },
  },

  components: {
    BaseModal,
  },
};
</script>


<style lang="scss">
@import '../../colors.scss';

.error-message {
  min-width: 300px;

  display: flex;
  flex-direction: column;

  background: white;

  &__title {
    padding: 8px 16px;

    font-size: 16px;
    font-weight: 400;

    text-align: center;

    background: $flat-red-1;
    color: white;
  }

  &__text {
    padding: 8px;
    margin: 8px;

    border-left: 2px solid $flat-red-1;
  }
}

</style>
