<template>

  <div v-if="visible"
    class="modal"
    @click.self="$emit('update:visible', false)">

    <slot />

  </div>

</template>


<script>
export default {
  name: 'base-modal',

  props: {
    visible: {
      type: Boolean,
      required: true,
    },
  },
};
</script>


<style lang="scss">
.modal {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(black, .75);

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

