<template>

  <div class="l-admin-main">

    <LoginView v-if="!token" @login="loginHandler" />
    <DashboardView v-else />

  </div>

</template>


<script>
import LoginView from './admin/Login';
import DashboardView from './admin/Dashboard';

export default {
  name: 'AdminMain',

  components: {
    LoginView,
    DashboardView,
  },

  data() {
    return {
      token: '',
    };
  },

  methods: {
    async loginHandler(token) {
      // TODO: Check token on server
      // alert(token);
      this.token = token;
    },
  },
};
</script>


<style lang="scss">
.l-admin-main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}
</style>
