<template>
  <div class="l-user-main">

    <ReservationView v-if="user"
      :user="user" :reservation="reservation"
      @reserve="reserveHandler"
      @logout="logoutHandler" />

    <LoginView v-else
      @login="loginHandler" />

    <base-error-message :visible.sync="errorModal" :text="errorText" />

  </div>
</template>

<script>
import axios from 'axios';

import ReservationView from './user/Reservation';
import LoginView from './user/Login';
import BaseErrorMessage from './base/BaseErrorMessage';

const API = '/api';

axios.defaults.headers.common['Content-Type'] = 'application/json;charset=UTF-8';

export default {
  name: 'UserMain',

  components: {
    ReservationView,
    LoginView,
    BaseErrorMessage,
  },

  data() {
    return {
      user: JSON.parse(localStorage.getItem('user')),
      reservation: {},

      errorModal: false,
      errorText: '',
    };
  },

  async created() {
    await this.fetchReservation();
  },

  methods: {
    showErrorMessage(message) {
      this.errorText = message;
      this.errorModal = true;
    },

    saveUser(user) {
      localStorage.setItem('user', JSON.stringify(user));
    },

    async loginHandler(signinArgs) {
      try {
        const { user } = (await axios.post(`${API}/user/login`, signinArgs)).data;

        this.user = user;
        this.saveUser(user);
      } catch (err) {
        this.showErrorMessage(err.response.data);
      }
    },

    async logoutHandler() {
      try {
        await axios.post(`${API}/user/logout`);
        this.user = null;
        localStorage.clear();
      } catch (err) {
        this.showErrorMessage(err);
      }
    },

    async fetchReservation() {
      try {
        const { schedule } = (await axios.get(`${API}/user/schedule`)).data;
        this.reservation = schedule;
        console.log(schedule);
      } catch (err) {
        console.log(err.response.data);
      }
    },

    async reserveHandler(washer) {
      const newReservation = {
        ...washer,
        name: this.user.fullName,
        room: this.user.room,
      };

      try {
        await axios.post(`${API}/user/reserve`, washer);
        this.user.points -= 1;
        this.reservation[washer.date][washer.time][washer.washer] = newReservation;
        this.saveUser(this.user);
      } catch (err) {
        this.showErrorMessage(err.response.data);
      }
    },
  },
};
</script>

<style lang="scss">
.l-user-main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}
</style>
