<template>

  <div id="app">

    <router-view />

  </div>

</template>


<script>
export default {
  name: 'App',
};
</script>


<style lang="scss">
/**
 * Global styles
 */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  font-weight: 300;
}

html, body {
  width: 100%;
  height: 100%;
}

/**
 * App styles
 */
#app {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}
</style>
