<template>
  <div class="import">
    <input type="file" @change="handleFilesUpload" ref="fileInput">
    <button @click="sendFile">Send</button>
  </div>
</template>


<script>
import axios from 'axios';

const API = '/api';

export default {
  name: 'DashboardImport',

  data() {
    return {
      file: null,
    };
  },

  methods: {
    handleFilesUpload() {
      this.file = this.$refs.fileInput.files[0];
    },
    sendFile() {
      const formData = new FormData();

      formData.append('dump.csv', this.file);

      axios.post('/api/admin/import',
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        },
      )
        .then(() => {
          console.log('SUCCESS!!');
        })
        .catch(() => {
          console.log('FAILURE!!');
        });
    },
  },
};
</script>


<style lang="scss">
@import "../../../colors.scss";

.import {
  margin: 0 auto;
  padding: 40px;

  width: 500px;
  height: 500px;

  border: 3px dashed $flat-blue-1;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;

  color: $flat-blue-1;
  font-size: 24px;

  user-select: none;
}
</style>

