<template>
  <div class="log" v-if="log !== null">
    <div class="log__item" v-for="(e, i) in prettyLog" :key="i">
      {{e.name}} из комнаты
      {{e.room}} зарезервировал
      {{e.washer}} машинку на
      {{e.reservedOn}} в
      {{e.reservedAt}}
    </div>
  </div>
</template>


<script>
import axios from 'axios';
import moment from 'moment';

const API = '/api';

export default {
  name: 'DashboardLog',

  data() {
    return {
      log: null,
    };
  },

  computed: {
    prettyLog() {
      return this.log.map(e => ({
        name: e.name,
        washer: e.washer,
        room: e.room,
        reservedOn: moment(e.reservedOn).format('YYYY-MM-DD HH:mm'),
        reservedAt: moment(e.reservedAt).format('YYYY-MM-DD HH:mm'),
      }));
    },
  },

  async beforeCreate() {
    const { log } = (await axios.get(`${API}/admin/log`)).data;
    this.log = log;
  },
};
</script>


<style lang="scss">

</style>
