<template>
  <div v-if="users !== null" class="users">
      <table>
        <thead>
          <tr>
            <td>#</td>
            <td>Имя</td>
            <td>email</td>
            <td>Комната</td>
            <td>Бонусы</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(e, i) in users" :key="i" @click="pickUser(e)">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.email}}</td>
            <td>{{e.room}}</td>
            <td>{{e.points}}</td>
          </tr>
        </tbody>
      </table>

    <BaseModal :visible.sync="setPointsModal">
      <BaseForm header="Установить количество бонусов" class="users__form">
        <BaseInput
          v-model="newUserPoints"
          type="number"
          placeholder="Введите новое количество бонусов" />
        <BaseButton @click="setUserPointsHandler">Обновить</BaseButton>
      </BaseForm>
    </BaseModal>
  </div>
</template>


<script>
import axios from 'axios';
import BaseModal from '../../base/BaseModal';
import BaseForm from '../../base/BaseForm';
import BaseInput from '../../base/BaseInput';
import BaseButton from '../../base/BaseButton';

const API = '/api';

export default {
  name: 'DashboardPoints',

  components: {
    BaseModal,
    BaseForm,
    BaseInput,
    BaseButton,
  },

  data() {
    return {
      users: null,
      pickedUserId: null,
      setPointsModal: false,
      newUserPoints: '',
    };
  },

  methods: {
    pickUser(user) {
      this.pickedUserId = user.id;
      this.newUserPoints = user.points;
      this.setPointsModal = true;
    },

    async setUserPointsHandler() {
      const data = {
        id: this.pickedUserId,
        points: this.newUserPoints,
      };

      try {
        await axios.put(`${API}/admin/users`, data);
        this.users.find(e => e.id === this.pickedUserId).points = this.newUserPoints;
      } catch (err) {
        alert(err);
      } finally {
        this.setPointsModal = false;
      }
    },
  },

  async beforeCreate() {
    const { users } = (await axios.get(`${API}/admin/users`)).data;
    this.users = users;
  },
};
</script>


<style lang="scss">
@import "../../../colors.scss";

.users {
  & > table {
    width: 100%;

    & thead tr {
      font-size: 20px;
    }

    & tbody tr {
      transition: .3s;
      &:hover {
        background: $flat-blue-1;
        color: white;

        cursor: pointer;
      }
    }
  }

  &__form {
    width: 350px;
  }
}
</style>
